/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Raleway:400');

 ul {
  z-index: 1;
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
 }

 li {
  display: inline;
  padding-right: 5px;
 }

 li > a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #2980B9;
 }

 a.no_change:hover{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 25px;
 }

 p {
   text-align: center;
   margin-bottom: 20px;
   width: 18%;
 }

 h1{
   text-transform: capitalize;
   margin-bottom: 30px;
   color: black
 }

 .deal {
   border :none;
 }

 .cover {
   height: 100px;
   opacity: 0.7;
   background-color: #ABB2B9;
   position: fixed;
   top: 0;
   left: 0;
   padding: 10px;
   width: 100%;
   border-bottom: 2px solid black;
   z-index: -1;
 }
