p {
 text-align: center;
 margin-bottom: 20px;
 width: 18%;
}

h1{
 text-transform: capitalize;
 margin-bottom: 30px;
}

.deal {
 border :none;
}

.cover {
 height: 100px;
 opacity: 0.7;
 background-color: #ABB2B9;
 position: fixed;
 top: 0;
 left: 0;
 padding: 10px;
 width: 100%;
 border-bottom: 2px solid black;
}
